<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinguaLoop</title>
    <link rel="icon" href="/static/favicon.ico">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
</head>

<body>
    <h1>LinguaLoop</h1>

    <!-- Language radio buttons -->
    <form>
        {% for lang in languages %}
        <label>
            <input type="radio" name="language" value="{{ lang.language_code }}">
            {{ lang.language }}
        </label><br>
        {% endfor %}
    </form>

    <!-- Input video -->

    <!-- Video player  -->

    <!-- n segments  -->

    <!-- ready to transcribe  -->

    <!-- Transcript input -->
    <div style="margin-top: 20px;">
        <textarea id="userText" placeholder="Type what you hear..." rows="3" cols="60"></textarea>
        <button>Submit</button>
    </div>

    <!-- Reference  -->
    <div id="referenceText" style="margin-top: 20px; font-weight: bold;"></div>

    <script>
        window.APP_CONFIG = {
            languages: {{languages | tojson}}
        };
    </script>
    <script src="/static/app.js"></script>
</body>

</html>
